{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>

<h3>All Users</h3>
<ul>
  {% for user in users %}
    <li>{{ user.username }} - {{ user.userprofile.role }}</li>
  {% endfor %}
</ul>

<h3>All Jobs</h3>
<ul>
  {% for job in jobs %}
    <li>{{ job.title }} by {{ job.company.company_name }}</li>
  {% endfor %}
</ul>

<h3>Applications</h3>
<ul>
  {% for app in applications %}
    <li>{{ app.applicant.user.username }} → {{ app.job.title }}</li>
  {% endfor %}
</ul>
{% endblock %}
